
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

body {
  background: black;

}

header {
  background: black;
  border-bottom: 1px solid rgb(120, 120, 120);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  height: 10%;
  box-shadow: 2px 2px 5px rgb(31, 31, 31);
  padding: 10px;
}

footer {
  text-align: center;
}

/* .main {
  max-width: 960px;
  margin: 80px auto 0 auto;
  padding: 2rem;
} */

.main-headline {
  font-size: 6rem;
}

/* --------------------------------------------------------------TEAM CONTAINER  */

.team-container {
  text-align: left;

}

/* --------------------------------------------------------------SLIDESHOW - PhotoCarousel  */

.slide-container {
  width: 70%;
  margin: auto; 
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  border-style: solid;
  border-width: 5px;
}

/* --------------------------------------------------------------PARALAX  */


body,html{margin:0;padding:0;}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: blue;
  height: 100px;
  margin-top: 30px;
  /* opacity: 0.5; */
}

.bg1::after {
  background-image: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/dark-grunge-textures-4.jpg');
}

.bg2::after {
  background-image: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/dark-grunge-textures-4.jpg');
}

.bg3::after {
  background-image: url('https://jooinn.com/images/grunge-texture-77.jpg');
}