@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Teko");
@import url("https://fonts.googleapis.com/css?family=Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Nixie+One|Oranienbaum");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC|Faster+One|Six+Caps|Wire+One");

/* ---------------------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Amatic SC";
  height: 100%;
  background: black;
}

h1 {
  font-family: "Wire One";
  font-size: 4.3rem;
}

h3 {
  font-family: "Amatic SC";
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  font-family: "Cormorant";
}

header {
  background: black;
  border-bottom: 2px solid aqua;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  height: 10%;
  padding: 10px;
  box-shadow: 0px 10px 15px black;
}

footer {
  text-align: center;
}

.App {
  text-align: center;
}

/* --------------------------------------------------------------WELCOME PAGE  */
.welcome-div {
  margin-top: 80px;
}

.outerbrain-logo {
  width: 420px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

.welcome-to-outer-brain {
  font-family: "Wire One";
  color: white;
  font-size: 3rem;
  text-shadow: 5px 5px 8px black;
}
/* --------------------------------------------------------------GUILT PAGE  */

.guilt-div {
  text-align: center;
  margin-top: 160px;
}

.guilt-logo {
  width: 100%;
  border-bottom: 2px solid aqua;
  /* background: black; */
  /* border-top: 2px solid aqua;
  border-color: aqua; */
}

.guilt-description {
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
  margin-bottom: 10px;
  background: black;
  border-bottom: 2px solid aqua;
  padding: 10px;
}

.guilt-trailer {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 240px;
}

.guilt-gif {
  margin-top: 50px;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(31, 31, 31);
  border-style: solid;
  border-width: 2px;
  color: aqua;
}

.itch {
  margin-top: -100;
  display: none;
}

/* ----------------------------------------------------------------------ORGAN PAGE */

.organ-div {
  margin-top: -500px;
}

.organ-trailer {
  margin-top: 30px;
  width: 400px;
  height: 240px;
}

.organ-logo {
  margin: 0;
  width: 100%;
  /* background: black;
  border-top: 2px solid aqua; */
  border-bottom: 2px solid aqua;
  border-color: aqua;
}

.organ-description {
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
  padding: 10px;
  border-bottom: 2px solid aqua;
  background: black;
}

/* --------------------------------------------------------------TEAM PAGE  */

.team-page {
  width: 100%;
  margin-top: 1000px;
  color: white;
}

.team-container {
  margin-top: 100px;
}

.team-member {
  font-size: 1.5rem;
}

/* --------------------------------------------------------------SLIDESHOW - PhotoCarousel  */

.slide-container {
  width: 100%;
  margin: 0;
}

.each-slide > div {
  width: 100%;
  margin-top: 10px;
  margin-left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 250px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

/* --------------------------------------------------------------PARALAX  */

body,
html {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 290%;
  z-index: -1;
}

.static {
  height: 100px;
  margin-top: 30px;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  border-color: aqua;
  background: black;
  color: white;
}

.bg1::after {
  height: 90%;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  background-image: url("https://i.imgur.com/9ljZyBt.jpg");
}

.bg2::after {
  height: 90%;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  background-image: url("https://i.imgur.com/9ljZyBt.jpg");
}

.bg4::after {
  margin-top: 500px;
  height: 150%;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  background-image: url("https://i.imgur.com/9ljZyBt.jpg");
}

.guilt-bkg::after {
  height: 70%;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  background-image: url("https://i.imgur.com/dZZIsym.jpg");
}

.organ-bkg::after {
  margin-top: 700px;
  height: 100%;
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  background-image: url("https://i.imgur.com/bsis7AA.jpg");
}

.lift-section {
  margin-top: -720px;
}

/* -----------------------------------------------------------------------------------------------MEDIA QUERY */

@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }

  .bg1::after {
    height: 110%;
  }

  .welcome-div {
    margin-top: 300px;
  }

  .guilt-gif {
    margin-top: 90px;
    width: 820px;
    border-style: solid;
    border-width: 2px;
    color: aqua;
  }

  .outerbrain-logo {
    width: 600px;
    margin-bottom: -20px;
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;
  }

  .slide-container {
    width: 60%;
    height: 100%;
  }

  .each-slide > div {
    width: 100%;
  }

  .guilt-logo {
    width: 700px;
    background: none;
    border: none;
  }

  .organ-description {
    margin: 0;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
  }

  .organ-logo {
    width: 900px;
    background: none;
    border: none;
  }
  .welcome-to-outer-brain {
    font-size: 6rem;
    margin-top: 30px;
  }

  .guilt-div {
    text-align: center;
    margin-top: 300px;
  }

  .parallax::after {
    background-size: 160%;
  }

  .static {
    font-family: "Wire One";
    font-size: 1.5rem;
  }

  .guilt-description {
    text-align: center;
    width: 75%;
    color: white;
    margin-left: 12%;
    padding: 25px;
  }

  .guilt-trailer {
    width: 840px;
    height: 480px;
    margin-top: 50px;
    margin-bottom: -60px;
  }

  .organ-trailer {
    margin-top: 30px;
    width: 840px;
    height: 480px;
  }

  .itch {
    margin-top: 80px;
    display: block;
  }

  .team-member {
    font-size: 2rem;
  }

  .guilt-bkg::after {
    margin-top: -200px;
    height: 200%;
  }

  .organ-bkg::after {
    margin-top: 1450px;
    height: 170%;
  }

  .organ-description {
    border-bottom: none;
    background: none;
  }

  .guilt-description {
    background: none;
    border-bottom: none;
  }

  .organ-div {
    margin-top: -300px;
  }

  .team-page {
    width: 100%;
    margin-top: 1300px;
  }
}

/* --------------------------------------------------------------------------------ANIMATIONS */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
